body {
    background-color: #111111;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.searchbar {
    display:flex;

}
input {
    width: 300px;
    height: 30px;
    background-color: #3c3c3c;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    color: grey;
    padding-left: 10px;
    border-radius: 3px 0 0 3px;
}

button {
    height: 30px;
    margin-left: 0px;
    margin-top: 10px;
    border: none;
    width: 15%;
    background-color: #555;
    border-radius: 0 3px 3px 0;
}

div {
    background-color: #232323;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.top {
    display: flex;
    padding: 0px;
    width: 100%;
}


#episodeindex {
    background-color: #232323;
    margin-right:8px;
    flex: 1 0 432px;
}

.videos {
    display: flex;
    background-color: #111111;

}
.indexnoticethread{
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 100%;
}

.indexnotice {
    border-top: 1px solid #615f5f;
    padding: 15px;
    font-size: .75em;

}

.indextitlenotice {
    padding: 8px 0 15px 15px;
    font-size: 15px;
    font-weight: 600;
}

#mainbody {
    margin: 0 auto; /*center horizontally within parent*/
    background-color: #111111;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1312px; /*make it as wide as possible but only up to 1312px*/

}

#indextitle {
    border-bottom: 1px solid #FFBF00;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
}

img {
    width:186px;
    height:105px;
    border-radius: 2px;
}

img:hover {
    filter: brightness(80%);
}

#indexepisodeimagelist {
    display: flex;
    flex-wrap: wrap;
    overflow-y:scroll;
    margin-left: 15px;
    height: 500px;

}

@media (max-width: 1312px) {
  #indexepisodeimagelist {
    height: auto;
    overflow-y: hidden;
  }

  #episodeindex {
    flex: 1 0 auto;
    margin-bottom: 8px;
    margin-right: 0px;
    width: 100%;
    overflow-x: scroll;
  }

  .videos {
    display: flex;
    flex-direction: column;
  }

  #indexepisodeimage {
    margin-bottom: 5px;
  }

}

#homeicon img {
    height:30px;
    width:30px;
    padding: 10px 0px 10px 10px;
}


.bottom {
    margin-bottom:0px;
    margin-top: auto;
    background-color: black;
    width: 100%;
    text-align: center;
    min-height: 50px;
    padding-top: 8px;
}

#bottomnotice {
    background-color: black;
}

.marginbottom {
    min-height: 20px;
    background-color: #111111;
}

#description {
    width: 1200px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 150px;

}

#videotitle {
    padding-left: 5px;
    font-size: .75em;
    font-weight: bold;
}

.nav-frame {
    margin-top: 8px;
    background-color: #111111;
    border-top: 1px solid #615f5f;
    border-bottom: 1px solid #615f5f;
    margin-bottom: 10px;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

li {
    display: inline;
    margin-right: 20px;
}

#maintitle {
    padding: 10px;
    border-bottom: 1px solid #615f5f;
}

#maindesc {
    padding: 10px;
    font-size: .85em;
}

/*playepisode*/

#mainplayepisodebody {
    background-color: #111111;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;/*center horizontally within parent*/
    width: 100%;
    max-width: 1640px; /*make it as wide as possible but only up to 1640px*/
}

.episodevideos {
    display: flex;
    flex-direction: row;
    background-color: #111111;
}

#videoplayer {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    background-color: #111111;
    width: 50%;
    flex-grow: 1;
}
.player{
    height: 90%;
}
.descsection {
    margin-top: 8px;
    height: auto;
}

#episodeindexrelated {
    background-color: #232323;
    width: 432px;
}

#indexepisodeimagelistrelated {
    display: flex;
    flex-wrap: wrap;
    overflow-y:scroll;
    margin-left: 15px;
    height: 714px;
}

#indexepisodeimage {
    margin-top: 25px;
    margin-right: 8px;

}

