{% extends "highlights/layout.html" %}


{% block body %}
<div id="mainbody">
  <div class="indexnoticethread">
    <div class="indextitlenotice"> Notice <i class="fa-solid fa-angle-up" id="toggle"></i></div>
    <div class="indexnotice toggle-notice"> This website will provide spoiler-free highlights of various sports, with a
      focus on soccer. Here, you'll be able to catch up on all the latest matches and biggest moments without worrying
      about having the outcome spoiled. Whether you're a die-hard fan or just a casual spectator, our goal is to bring
      you the most exciting moments from various sports, all in one convenient place. So, stay tuned for updates and
      highlights that will keep you on the edge of your seat! </div>
  </div>
  <div class="nav-frame">
    <ul>
      <li>Soccer</li>
      <li>Formula 1</li>
      <li>UFC</li>
    </ul>
  </div>
  <div class="videos">
    <div id="episodeindex">
      <div id="indextitle">Fresh Updates</div>
      <div id="indexepisodeimagelist">
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="sport_highlights/PL"><img id="indeximg"
                src="/static/highlights/PL2223.png" /></a></div>
          <div id="videotitle">Premier League 2022/23 </div>
        </div>
      </div>
    </div>
    <div id="episodeindex">
      <div id="indextitle">Editor's Picks</div>
    </div>
    <div id="episodeindex">
      <div id="indextitle">Coming Soon</div>
      <div id="indexepisodeimagelist">
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="{% url 'coming_soon' %}"><img id="indeximg"
                src="/static/highlights/F12022.jpg" /></a></div>
          <div id="videotitle"> F1 Season 2022 </div>
        </div>
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="{% url 'coming_soon' %}"><img id="indeximg"
                src="/static/highlights/NBA.jpg" /></a></div>
          <div id="videotitle"> NBA Playoffs </div>
        </div>
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="{% url 'coming_soon' %}"><img id="indeximg"
                src="/static/highlights/MLB.jpg" /></a></div>
          <div id="videotitle"> MLB </div>
        </div>
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="{% url 'coming_soon' %}"><img id="indeximg"
                src="/static/highlights/NFL.jpg" /></a></div>
          <div id="videotitle"> NFL </div>
        </div>
        <div id="indexepisodeimage">
          <div id="videoimage"><a href="{% url 'coming_soon' %}"><img id="indeximg"
                src="/static/highlights/UFC.jpg" /></a></div>
          <div id="videotitle"> UFC </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}