{% extends "highlights/layout.html" %}


{% block body %}
<div id="mainbody">
    <div class="indexnoticethread">
        <div class="indextitlenotice"> Notice </div>
        <div class="indexnotice"> This website will try to host highlights of various sports </div>
    </div>
    <div class="videos">
        <div id="episodeindex">
            <div id="indextitle">Fresh Updates</div>
            <div id="indexepisodeimagelist">
                {% for list in data %}
                    <div id="indexepisodeimage">
                        <div id="videoimage"><a href="playepisode/{{list.videoid}}"><img src="{{list.thumbnail}}"/></a></div>
                        <div id="videotitle">{{list.title}} </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="episodeindex"><div id="indextitle">Must See Games</div></div>
        <div id="episodeindex"><div id="indextitle">Coming Soon</div></div>
    </div>
</div>

{% endblock body %}