{% extends "highlights/layout.html" %}

{% block body %}
<div id="mainplayepisodebody">
    <div class = "videos">
        <div id="videoplayer">
            <iframe width="1200" height="650" src="https://www.youtube.com/embed/{{link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="episodeindexrelated">
            <div id="indextitle"> Related Videos </div>
            <div id="indexepisodeimagelistrelated">
            {% for list in data %}
                <div id="indexepisodeimage">
                    <div id="videoimage"><a href="{% url 'playepisode' videolink=list.videoid %}"><img src="{{list.thumbnail}}"/></a></div>
                    <div id="videotitle">{{list.title}} </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="descsection">
        <div id="maintitle"> {{maintitle}} </div>
        <div id="maindesc">{{maindescription}} </div>
    </div>
</div>
{% endblock body %}