{% extends "highlights/layout.html" %}

{% block body %}
<div id="mainplayepisodebody">
    <div class = "episodevideos">
        <div id="videoplayer">
            <div class="player">
            <iframe class="iframe" src="https://www.youtube.com/embed/{{link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="descsection">
                <div id="maintitle"> {{maintitle}} </div>
                <div id="maindesc">{{maindescription}} </div>
            </div>
        </div>
        <div id="episodeindexrelated">
            <div id="indextitle"> Related Videos </div>
            <div id="indexepisodeimagelistrelated">
            {% if page == "worldcup" %}
                {% for list in data %}
                <div id="indexepisodeimage">
                    <div id="videoimage"><a href="{% url 'worldcup' videolink=list.videoid %}"><img src="{{list.thumbnail}}"/></a></div>
                    <div id="videotitle">{{list.title}} </div>
                </div>
                {% endfor %}
            {% else %}
                {% for list in data %}
                <div id="indexepisodeimage">
                    <div id="videoimage"><a href="{% url 'premierleague' videolink=list.videoid %}"><img src="{{list.thumbnail}}"/></a></div>
                    <div id="videotitle">{{list.title}} </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}